@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-items ul li:hover{
    scale: 1.1;
    cursor: pointer;
    transition: all 0.2s;

}

body{
    display: block;
    z-index: 100;
    
}